@model Proiect_Goldan_Maria_Valentina.Models.LibraryViewModels.VenueIndexData

@{
    ViewData["Title"] = "Venues";
}

<h2>Venues</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Venue Name</th>
            <th>Adress</th>
            <th>Concerts</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Venues)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["VenueID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>

                <td>
                    @{
                        foreach (var book in item.VenueConcerts)
                        {
                            @book.Concert.Name <br />
                        }
                    }
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.ID">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@if (Model.Concerts != null)
{
    <h3>Concerts Held in Selected Venue</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Artist</th>
            <th>Price</th>
        </tr>
        @foreach (var item in Model.Concerts)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["ConcertID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { concertID = item.ID })
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Artist?.Name
                </td>
                <td>
                    @item.Price
                </td>
            </tr>
        }
    </table>
}


@if (Model.Purchases != null)
{
    if (Model.Purchases.Count() > 0)
    {
        <h3>Customers who bought the selected concert ticket</h3>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
            </tr>
            @foreach (var item in Model.Purchases)
            {
                string selectedRow = "";
                if (item.ConcertID == (int?)ViewData["ConcertID"])
                {
                    selectedRow = "success";
                }
                <tr class="@selectedRow">
                    <td>
                        @item.Customer.Name
                    </td>
                    <td>
                        @item.Customer.Adress
                    </td>
                    <td>
                        @item.Customer.City.Name
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <h3>No customers for this concert yet...</h3>
    }

}